
<main class="bg-emerald-950 h-screen flex justify-center items-center text-white">
    <section class="text-center">
        <h1 class="text-9xl">404</h1>     
        <h2 class="mt-14">Pagina no encontrada</h2>
        <p class="mt-2">La pagina que buscas no existe o fue eliminada.</p>

        <a href="/" 
        class=" mt-12 block w-2/4 mx-auto py-2 border border-white font-semibold
        hover:bg-white hover:border-zinc-800 hover:text-emerald-700 focus:bg-emerald-100 active:bg-emerald-200 
        transition-all duration-150"
        
        >Regresar al inicio</a>
    </section>
    
</main>
 